@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?jtmnmr');
  src:  url('fonts/icomoon.eot?jtmnmr#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?jtmnmr') format('truetype'),
    url('fonts/icomoon.woff?jtmnmr') format('woff'),
    url('fonts/icomoon.svg?jtmnmr#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-file-text:before {
  content: "\e9da";
}
.icon-file-html:before {
  content: "\e9d9";
}
.icon-light-bent-top-right-arrow:before {
  content: "\e9d8";
}
.icon-execution-context-2:before {
  content: "\e9d7";
}
.icon-tags:before {
  content: "\e9d6";
}
.icon-execution-context:before {
  content: "\e9d5";
}
.icon-k8s-cron-job:before {
  content: "\e9bd";
}
.icon-k8s-pod:before {
  content: "\e9be";
}
.icon-k8s-job:before {
  content: "\e9bf";
}
.icon-k8s-deployment:before {
  content: "\e9c0";
}
.icon-k8s-stateful-set:before {
  content: "\e9c1";
}
.icon-k8s-replica-set:before {
  content: "\e9c2";
}
.icon-k8s-config-map:before {
  content: "\e9c3";
}
.icon-k8s-daemon-set:before {
  content: "\e9c4";
}
.icon-k8s-secret:before {
  content: "\e9c5";
}
.icon-k8s-custom-resource-definition:before {
  content: "\e9c6";
}
.icon-k8s-role-binding:before {
  content: "\e9c7";
}
.icon-k8s-pod-security-policy:before {
  content: "\e9c8";
}
.icon-k8s-group:before {
  content: "\e9c9";
}
.icon-k8s-network-policy:before {
  content: "\e9ca";
}
.icon-k8s-role:before {
  content: "\e9cb";
}
.icon-k8s-cluster-role-binding:before {
  content: "\e9cc";
}
.icon-k8s-cluster-role:before {
  content: "\e9cd";
}
.icon-k8s-user:before {
  content: "\e9ce";
}
.icon-k8s-service-account:before {
  content: "\e9cf";
}
.icon-k8s-endpoint:before {
  content: "\e9d0";
}
.icon-k8s-service:before {
  content: "\e9d1";
}
.icon-k8s-ingress:before {
  content: "\e9d2";
}
.icon-k8s-storage-class:before {
  content: "\e9d3";
}
.icon-k8s-persistent-volume-claim:before {
  content: "\e9d4";
}
.icon-k8s-persistent-volume:before {
  content: "\e9bc";
}
.icon-gitopssettings-2:before {
  content: "\e9bb";
}
.icon-help:before {
  content: "\e9ba";
}
.icon-runner:before {
  content: "\e9b5";
}
.icon-permission-2:before {
  content: "\e9b6";
}
.icon-audit-2:before {
  content: "\e9b7";
}
.icon-pipeline-settings:before {
  content: "\e9b8";
}
.icon-billing-2:before {
  content: "\e9b9";
}
.icon-rounded-rect:before {
  content: "\e9b4";
}
.icon-downward-arrow:before {
  content: "\e9b3";
}
.icon-account-info:before {
  content: "\e9b2";
}
.icon-gitops:before {
  content: "\e9b1";
}
.icon-history:before {
  content: "\e9b0";
}
.icon-chat:before {
  content: "\e9af";
}
.icon-terminated-2 .path1:before {
  content: "\e9ac";
  color: rgb(0, 0, 0);
}
.icon-terminated-2 .path2:before {
  content: "\e9ad";
  margin-left: -0.9599609375em;
  color: rgb(255, 255, 255);
}
.icon-terminated-2 .path3:before {
  content: "\e9ae";
  margin-left: -0.9599609375em;
  color: rgb(255, 255, 255);
}
.icon-commit:before {
  content: "\e9ab";
}
.icon-check-circle:before {
  content: "\e9aa";
}
.icon-circle-plus:before {
  content: "\e9a8";
}
.icon-computer-connect:before {
  content: "\e9a9";
}
.icon-disconnect:before {
  content: "\e9a6";
}
.icon-stop:before {
  content: "\e9a7";
}
.icon-chain:before {
  content: "\e9a5";
}
.icon-manage-entity:before {
  content: "\e9a4";
}
.icon-repository:before {
  content: "\e9a3";
}
.icon-activated:before {
  content: "\e9a2";
}
.icon-exclamation-shield:before {
  content: "\e9a1";
}
.icon-shield-user:before {
  content: "\e9a0";
}
.icon-helm3:before {
  content: "\e99e";
}
.icon-helm2:before {
  content: "\e99f";
}
.icon-rollback:before {
  content: "\e99d";
}
.icon-light-trigger:before {
  content: "\e99c";
}
.icon-light-circle-left-arrow:before {
  content: "\e997";
}
.icon-light-bent-right-down-arrow:before {
  content: "\e998";
}
.icon-light-calendar:before {
  content: "\e999";
}
.icon-light-hourglass:before {
  content: "\e99a";
}
.icon-light-timer:before {
  content: "\e99b";
}
.icon-payload:before {
  content: "\e994";
}
.icon-variable:before {
  content: "\e995";
}
.icon-todo:before {
  content: "\e996";
}
.icon-note:before {
  content: "\e993";
}
.icon-upward-arrow:before {
  content: "\e992";
}
.icon-trash-2:before {
  content: "\e991";
}
.icon-filter:before {
  content: "\e990";
}
.icon-full-logs:before {
  content: "\e98f";
}
.icon-steps-tab:before {
  content: "\e98e";
}
.icon-official-plugin:before {
  content: "\e98d";
}
.icon-eye:before {
  content: "\e98c";
}
.icon-christmas-star:before {
  content: "\e98b";
}
.icon-contact-suuport:before {
  content: "\e98a";
}
.icon-community:before {
  content: "\e989";
  color: #4c4c4c;
}
.icon-server:before {
  content: "\e988";
}
.icon-crown:before {
  content: "\e987";
}
.icon-icons8-paragraph:before {
  content: "\e982";
}
.icon-hash-comment:before {
  content: "\e983";
}
.icon-expand:before {
  content: "\e984";
}
.icon-download-yaml:before {
  content: "\e985";
}
.icon-copy:before {
  content: "\e986";
}
.icon-paragraph:before {
  content: "\e981";
}
.icon-lock-decrypted:before {
  content: "\e980";
}
.icon-star-favorite:before {
  content: "\e97f";
}
.icon-external-link:before {
  content: "\e97e";
}
.icon-sort-asc:before {
  content: "\e97b";
}
.icon-sort-desc:before {
  content: "\e97c";
}
.icon-sort-default:before {
  content: "\e97d";
}
.icon-icon-custom-pipeline:before {
  content: "\e97a";
}
.icon-icon-warning-filled:before {
  content: "\e979";
}
.icon-build-timeline:before {
  content: "\e978";
}
.icon-shared-square:before {
  content: "\e977";
}
.icon-regular-trash:before {
  content: "\e976";
}
.icon-file:before {
  content: "\e972";
}
.icon-more-circles:before {
  content: "\e973";
}
.icon-regular-pencil:before {
  content: "\e974";
}
.icon-text:before {
  content: "\e975";
}
.icon-regular-list:before {
  content: "\e971";
}
.icon-actions-copy:before {
  content: "\e970";
}
.icon-actions-template:before {
  content: "\e96f";
}
.icon-actions-marketplace:before {
  content: "\e96e";
}
.icon-menu-environments:before {
  content: "\e96d";
}
.icon-boards:before {
  content: "\e96c";
}
.icon-image-logs:before {
  content: "\e96b";
}
.icon-build-metric:before {
  content: "\e96a";
}
.icon-confirmation-warning:before {
  content: "\e969";
}
.icon-behind-firewall:before {
  content: "\e968";
}
.icon-thumb-down:before {
  content: "\e966";
}
.icon-thumb-up:before {
  content: "\e967";
}
.icon-build-debug:before {
  content: "\e95b";
}
.icon-build-output:before {
  content: "\e95c";
}
.icon-build-state:before {
  content: "\e964";
}
.icon-build-yaml:before {
  content: "\e965";
}
.icon-approved:before {
  content: "\e959";
}
.icon-denied:before {
  content: "\e95a";
}
.icon-pending-approval:before {
  content: "\e906";
}
.icon-projects-tab:before {
  content: "\e963";
}
.icon-leaves:before {
  content: "\e962";
}
.icon-account-nodes-menu:before {
  content: "\e961";
}
.icon-account-nodes:before {
  content: "\e960";
}
.icon-account-runtime-environments:before {
  content: "\e95f";
}
.icon-account-sso:before {
  content: "\e95e";
}
.icon-account-arrow-left:before {
  content: "\e95d";
}
.icon-account-teams-2:before {
  content: "\e956";
}
.icon-account-invoices:before {
  content: "\e955";
}
.icon-account-plans:before {
  content: "\e954";
}
.icon-account-permissions:before {
  content: "\e953";
}
.icon-account-teams:before {
  content: "\e952";
}
.icon-account-registry:before {
  content: "\e951";
}
.icon-account-notifications:before {
  content: "\e950";
}
.icon-account-tokens:before {
  content: "\e94f";
}
.icon-account-shared:before {
  content: "\e94e";
}
.icon-account-referals:before {
  content: "\e94d";
}
.icon-account-profile:before {
  content: "\e94c";
}
.icon-profile-logout:before {
  content: "\e94b";
}
.icon-profile-configuration:before {
  content: "\e94a";
}
.icon-profile-accounts-settings:before {
  content: "\e949";
}
.icon-accounts:before {
  content: "\e948";
}
.icon-terminated:before {
  content: "\e947";
}
.icon-skip:before {
  content: "\e946";
}
.icon-vm-grid:before {
  content: "\e944";
}
.icon-vm-list:before {
  content: "\e945";
}
.icon-azure:before {
  content: "\e943";
}
.icon-docker-swarm2:before {
  content: "\e942";
}
.icon-billing:before {
  content: "\e940";
}
.icon-integrations:before {
  content: "\e941";
}
.icon-larr:before {
  content: "\e93d";
}
.icon-rarr:before {
  content: "\e93e";
}
.icon-user-settings2:before {
  content: "\e933";
}
.icon-images-cube:before {
  content: "\e93a";
}
.icon-k8s:before {
  content: "\e93b";
}
.icon-pipelines:before {
  content: "\e93c";
}
.icon-repositories:before {
  content: "\e93f";
}
.icon-tutorials:before {
  content: "\e932";
}
.icon-icon-status:before {
  content: "\e92d";
}
.icon-docs:before {
  content: "\e92e";
}
.icon-examples:before {
  content: "\e92f";
}
.icon-star:before {
  content: "\e930";
}
.icon-troubleshooting:before {
  content: "\e931";
}
.icon-docker-swarm:before {
  content: "\e92c";
}
.icon-lightning:before {
  content: "\e92b";
}
.icon-hamburger:before {
  content: "\e925";
}
.icon-ok-strong:before {
  content: "\e922";
}
.icon-error:before {
  content: "\e923";
}
.icon-hourglass:before {
  content: "\e924";
}
.icon-single-image:before {
  content: "\e920";
}
.icon-yml:before {
  content: "\e921";
}
.icon-logo:before {
  content: "\e91f";
}
.icon-docker-logo-white .path1:before {
  content: "\e914";
  color: rgb(0, 0, 0);
}
.icon-docker-logo-white .path2:before {
  content: "\e915";
  margin-left: -1.099609375em;
  color: rgb(255, 255, 255);
}
.icon-docker-logo-white .path3:before {
  content: "\e916";
  margin-left: -1.099609375em;
  color: rgb(255, 255, 255);
}
.icon-docker-logo-white .path4:before {
  content: "\e917";
  margin-left: -1.099609375em;
  color: rgb(255, 255, 255);
}
.icon-docker-logo-white .path5:before {
  content: "\e918";
  margin-left: -1.099609375em;
  color: rgb(255, 255, 255);
}
.icon-docker-logo-white .path6:before {
  content: "\e919";
  margin-left: -1.099609375em;
  color: rgb(255, 255, 255);
}
.icon-docker-logo-white .path7:before {
  content: "\e91a";
  margin-left: -1.099609375em;
  color: rgb(255, 255, 255);
}
.icon-docker-logo-white .path8:before {
  content: "\e91b";
  margin-left: -1.099609375em;
  color: rgb(255, 255, 255);
}
.icon-docker-logo-white .path9:before {
  content: "\e91c";
  margin-left: -1.099609375em;
  color: rgb(255, 255, 255);
}
.icon-docker-logo-white .path10:before {
  content: "\e91d";
  margin-left: -1.099609375em;
  color: rgb(255, 255, 255);
}
.icon-docker-logo-white .path11:before {
  content: "\e91e";
  margin-left: -1.099609375em;
  color: rgb(255, 255, 255);
}
.icon-docker-logo-white .path12:before {
  content: "\e957";
  margin-left: -1.099609375em;
  color: rgb(0, 0, 0);
}
.icon-docker-logo-white .path13:before {
  content: "\e958";
  margin-left: -1.099609375em;
  color: rgb(255, 255, 255);
}
.icon-docker-logo-transparent:before {
  content: "\e905";
}
.icon-un-trash:before {
  content: "\e904";
}
.icon-icon-info:before {
  content: "\e901";
}
.icon-icon-warning:before {
  content: "\e902";
}
.icon-account-managment:before {
  content: "\61";
}
.icon-activity-log:before {
  content: "\62";
}
.icon-add-layer:before {
  content: "\63";
}
.icon-arrow-right:before {
  content: "\52";
}
.icon-arrow_5:before {
  content: "\53";
}
.icon-builds-2:before {
  content: "\57";
}
.icon-chebron-r:before {
  content: "\e903";
}
.icon-code:before {
  content: "\64";
}
.icon-composition:before {
  content: "\65";
}
.icon-compositions-2:before {
  content: "\58";
}
.icon-computer:before {
  content: "\66";
}
.icon-copy-docker-pull:before {
  content: "\67";
}
.icon-created:before {
  content: "\68";
}
.icon-date:before {
  content: "\69";
}
.icon-docker-logo:before {
  content: "\6a";
}
.icon-download:before {
  content: "\6b";
}
.icon-edit-pencil:before {
  content: "\6c";
}
.icon-enviroments-2:before {
  content: "\59";
}
.icon-environments:before {
  content: "\6d";
}
.icon-example:before {
  content: "\6e";
}
.icon-fail-2:before {
  content: "\e912";
}
.icon-failed:before {
  content: "\6f";
}
.icon-github:before {
  content: "\70";
}
.icon-images:before {
  content: "\71";
}
.icon-images-2:before {
  content: "\5a";
}
.icon-launch-2:before {
  content: "\e907";
}
.icon-lenght:before {
  content: "\72";
}
.icon-lock-close:before {
  content: "\73";
}
.icon-lock-open:before {
  content: "\74";
}
.icon-log:before {
  content: "\75";
}
.icon-logs-2:before {
  content: "\e908";
}
.icon-ok:before {
  content: "\76";
}
.icon-pause:before {
  content: "\77";
}
.icon-pending:before {
  content: "\e909";
}
.icon-pipeline-2:before {
  content: "\e90a";
}
.icon-plus-2:before {
  content: "\e90b";
}
.icon-projects:before {
  content: "\78";
}
.icon-promote:before {
  content: "\79";
}
.icon-promote-2:before {
  content: "\e90c";
}
.icon-pull-request:before {
  content: "\7a";
}
.icon-queue:before {
  content: "\41";
}
.icon-rebuild:before {
  content: "\e90d";
}
.icon-refresh:before {
  content: "\42";
}
.icon-run-settings:before {
  content: "\43";
}
.icon-running:before {
  content: "\44";
}
.icon-scan:before {
  content: "\e90e";
}
.icon-search:before {
  content: "\45";
}
.icon-search-2:before {
  content: "\e90f";
}
.icon-send-email:before {
  content: "\e900";
}
.icon-service:before {
  content: "\46";
}
.icon-services-2:before {
  content: "\e910";
}
.icon-settings:before {
  content: "\47";
}
.icon-stages:before {
  content: "\48";
}
.icon-start:before {
  content: "\49";
}
.icon-success-2:before {
  content: "\e911";
}
.icon-table:before {
  content: "\4a";
}
.icon-tag:before {
  content: "\e913";
}
.icon-terminate:before {
  content: "\4b";
}
.icon-test-fail:before {
  content: "\4c";
}
.icon-test-ok:before {
  content: "\4d";
}
.icon-trash:before {
  content: "\4e";
}
.icon-upload-code:before {
  content: "\4f";
}
.icon-user:before {
  content: "\50";
}
.icon-workflow:before {
  content: "\51";
}
.icon-user-settings:before {
  content: "\e934";
}
.icon-account-settings:before {
  content: "\e935";
}
.icon-builds:before {
  content: "\e936";
}
.icon-docker:before {
  content: "\e937";
}
.icon-helm-charts:before {
  content: "\e938";
}
.icon-helm:before {
  content: "\e939";
}
.icon-email:before {
  content: "\e928";
}
.icon-minus:before {
  content: "\e929";
}
.icon-plus:before {
  content: "\e92a";
}
.icon-kubernetes:before {
  content: "\e926";
}
.icon-dokcer-logs:before {
  content: "\e927";
}
