@import "variables";

@font-face {
  font-family: '#{$icomoon-font-family}';
  src:  url('#{$icomoon-font-path}/#{$icomoon-font-family}.eot?xnenz5');
  src:  url('#{$icomoon-font-path}/#{$icomoon-font-family}.eot?xnenz5#iefix') format('embedded-opentype'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.ttf?xnenz5') format('truetype'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.woff?xnenz5') format('woff'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.svg?xnenz5##{$icomoon-font-family}') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-codefresh-"], [class*=" icon-codefresh-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: '#{$icomoon-font-family}' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-codefresh-account-permissions {
  &:before {
    content: $icon-codefresh-account-permissions;     
    color: #a8eee7;
  }
}
.icon-codefresh-account-teams {
  &:before {
    content: $icon-codefresh-account-teams; 
  }
}
.icon-codefresh-account-registry {
  &:before {
    content: $icon-codefresh-account-registry; 
  }
}
.icon-codefresh-account-notifications {
  &:before {
    content: $icon-codefresh-account-notifications; 
  }
}
.icon-codefresh-account-tokens {
  &:before {
    content: $icon-codefresh-account-tokens; 
  }
}
.icon-codefresh-account-shared {
  &:before {
    content: $icon-codefresh-account-shared; 
  }
}
.icon-codefresh-account-referals {
  &:before {
    content: $icon-codefresh-account-referals; 
  }
}
.icon-codefresh-account-profile {
  &:before {
    content: $icon-codefresh-account-profile; 
  }
}
.icon-codefresh-profile-logout {
  &:before {
    content: $icon-codefresh-profile-logout; 
  }
}
.icon-codefresh-profile-configuration {
  &:before {
    content: $icon-codefresh-profile-configuration;     
    color: #888;
  }
}
.icon-codefresh-profile-accounts-settings {
  &:before {
    content: $icon-codefresh-profile-accounts-settings;     
    color: #888;
  }
}
.icon-codefresh-accounts {
  &:before {
    content: $icon-codefresh-accounts;     
    color: #888;
  }
}
.icon-codefresh-terminated {
  &:before {
    content: $icon-codefresh-terminated;     
    color: #fff;
  }
}
.icon-codefresh-skip {
  &:before {
    content: $icon-codefresh-skip;     
    color: #fff;
  }
}
.icon-codefresh-vm-grid {
  &:before {
    content: $icon-codefresh-vm-grid; 
  }
}
.icon-codefresh-vm-list {
  &:before {
    content: $icon-codefresh-vm-list; 
  }
}
.icon-codefresh-azure {
  &:before {
    content: $icon-codefresh-azure; 
  }
}
.icon-codefresh-docker-swarm2 {
  &:before {
    content: $icon-codefresh-docker-swarm2; 
  }
}
.icon-codefresh-billing {
  &:before {
    content: $icon-codefresh-billing; 
  }
}
.icon-codefresh-integrations {
  &:before {
    content: $icon-codefresh-integrations; 
  }
}
.icon-codefresh-larr {
  &:before {
    content: $icon-codefresh-larr; 
  }
}
.icon-codefresh-rarr {
  &:before {
    content: $icon-codefresh-rarr; 
  }
}
.icon-codefresh-user-settings2 {
  &:before {
    content: $icon-codefresh-user-settings2; 
  }
}
.icon-codefresh-images-cube {
  &:before {
    content: $icon-codefresh-images-cube; 
  }
}
.icon-codefresh-k8s {
  &:before {
    content: $icon-codefresh-k8s; 
  }
}
.icon-codefresh-pipelines {
  &:before {
    content: $icon-codefresh-pipelines; 
  }
}
.icon-codefresh-repositories {
  &:before {
    content: $icon-codefresh-repositories; 
  }
}
.icon-codefresh-tutorials {
  &:before {
    content: $icon-codefresh-tutorials; 
  }
}
.icon-codefresh-icon-status {
  &:before {
    content: $icon-codefresh-icon-status; 
  }
}
.icon-codefresh-docs {
  &:before {
    content: $icon-codefresh-docs; 
  }
}
.icon-codefresh-examples {
  &:before {
    content: $icon-codefresh-examples; 
  }
}
.icon-codefresh-star {
  &:before {
    content: $icon-codefresh-star; 
  }
}
.icon-codefresh-troubleshooting {
  &:before {
    content: $icon-codefresh-troubleshooting; 
  }
}
.icon-codefresh-docker-swarm {
  &:before {
    content: $icon-codefresh-docker-swarm; 
  }
}
.icon-codefresh-lightning {
  &:before {
    content: $icon-codefresh-lightning; 
  }
}
.icon-codefresh-hamburger {
  &:before {
    content: $icon-codefresh-hamburger; 
  }
}
.icon-codefresh-ok-strong {
  &:before {
    content: $icon-codefresh-ok-strong; 
  }
}
.icon-codefresh-error {
  &:before {
    content: $icon-codefresh-error; 
  }
}
.icon-codefresh-hourglass {
  &:before {
    content: $icon-codefresh-hourglass; 
  }
}
.icon-codefresh-single-image {
  &:before {
    content: $icon-codefresh-single-image; 
  }
}
.icon-codefresh-yml {
  &:before {
    content: $icon-codefresh-yml; 
  }
}
.icon-codefresh-logo {
  &:before {
    content: $icon-codefresh-logo; 
  }
}
.icon-codefresh-docker-logo-white .path1 {
  &:before {
    content: $icon-codefresh-docker-logo-white-path1;  
    color: rgb(0, 0, 0);
  }
}
.icon-codefresh-docker-logo-white .path2 {
  &:before {
    content: $icon-codefresh-docker-logo-white-path2;  
    margin-left: -1.099609375em;  
    color: rgb(255, 255, 255);
  }
}
.icon-codefresh-docker-logo-white .path3 {
  &:before {
    content: $icon-codefresh-docker-logo-white-path3;  
    margin-left: -1.099609375em;  
    color: rgb(255, 255, 255);
  }
}
.icon-codefresh-docker-logo-white .path4 {
  &:before {
    content: $icon-codefresh-docker-logo-white-path4;  
    margin-left: -1.099609375em;  
    color: rgb(255, 255, 255);
  }
}
.icon-codefresh-docker-logo-white .path5 {
  &:before {
    content: $icon-codefresh-docker-logo-white-path5;  
    margin-left: -1.099609375em;  
    color: rgb(255, 255, 255);
  }
}
.icon-codefresh-docker-logo-white .path6 {
  &:before {
    content: $icon-codefresh-docker-logo-white-path6;  
    margin-left: -1.099609375em;  
    color: rgb(255, 255, 255);
  }
}
.icon-codefresh-docker-logo-white .path7 {
  &:before {
    content: $icon-codefresh-docker-logo-white-path7;  
    margin-left: -1.099609375em;  
    color: rgb(255, 255, 255);
  }
}
.icon-codefresh-docker-logo-white .path8 {
  &:before {
    content: $icon-codefresh-docker-logo-white-path8;  
    margin-left: -1.099609375em;  
    color: rgb(255, 255, 255);
  }
}
.icon-codefresh-docker-logo-white .path9 {
  &:before {
    content: $icon-codefresh-docker-logo-white-path9;  
    margin-left: -1.099609375em;  
    color: rgb(255, 255, 255);
  }
}
.icon-codefresh-docker-logo-white .path10 {
  &:before {
    content: $icon-codefresh-docker-logo-white-path10;  
    margin-left: -1.099609375em;  
    color: rgb(255, 255, 255);
  }
}
.icon-codefresh-docker-logo-white .path11 {
  &:before {
    content: $icon-codefresh-docker-logo-white-path11;  
    margin-left: -1.099609375em;  
    color: rgb(255, 255, 255);
  }
}
.icon-codefresh-docker-logo-white .path12 {
  &:before {
    content: $icon-codefresh-docker-logo-white-path12;  
    margin-left: -1.099609375em;  
    color: rgb(0, 0, 0);
  }
}
.icon-codefresh-docker-logo-white .path13 {
  &:before {
    content: $icon-codefresh-docker-logo-white-path13;  
    margin-left: -1.099609375em;  
    color: rgb(255, 255, 255);
  }
}
.icon-codefresh-un-trash {
  &:before {
    content: $icon-codefresh-un-trash; 
  }
}
.icon-codefresh-icon-info {
  &:before {
    content: $icon-codefresh-icon-info; 
  }
}
.icon-codefresh-icon-warning {
  &:before {
    content: $icon-codefresh-icon-warning; 
  }
}
.icon-codefresh-account-managment {
  &:before {
    content: $icon-codefresh-account-managment; 
  }
}
.icon-codefresh-activity-log {
  &:before {
    content: $icon-codefresh-activity-log; 
  }
}
.icon-codefresh-add-layer {
  &:before {
    content: $icon-codefresh-add-layer; 
  }
}
.icon-codefresh-arrow-right {
  &:before {
    content: $icon-codefresh-arrow-right; 
  }
}
.icon-codefresh-arrow_5 {
  &:before {
    content: $icon-codefresh-arrow_5; 
  }
}
.icon-codefresh-builds-2 {
  &:before {
    content: $icon-codefresh-builds-2; 
  }
}
.icon-codefresh-chebron-r {
  &:before {
    content: $icon-codefresh-chebron-r; 
  }
}
.icon-codefresh-code {
  &:before {
    content: $icon-codefresh-code; 
  }
}
.icon-codefresh-composition {
  &:before {
    content: $icon-codefresh-composition; 
  }
}
.icon-codefresh-compositions-2 {
  &:before {
    content: $icon-codefresh-compositions-2; 
  }
}
.icon-codefresh-computer {
  &:before {
    content: $icon-codefresh-computer; 
  }
}
.icon-codefresh-copy-docker-pull {
  &:before {
    content: $icon-codefresh-copy-docker-pull; 
  }
}
.icon-codefresh-created {
  &:before {
    content: $icon-codefresh-created; 
  }
}
.icon-codefresh-date {
  &:before {
    content: $icon-codefresh-date; 
  }
}
.icon-codefresh-docker-logo {
  &:before {
    content: $icon-codefresh-docker-logo; 
  }
}
.icon-codefresh-download {
  &:before {
    content: $icon-codefresh-download; 
  }
}
.icon-codefresh-edit-pencil {
  &:before {
    content: $icon-codefresh-edit-pencil; 
  }
}
.icon-codefresh-enviroments-2 {
  &:before {
    content: $icon-codefresh-enviroments-2; 
  }
}
.icon-codefresh-environments {
  &:before {
    content: $icon-codefresh-environments; 
  }
}
.icon-codefresh-example {
  &:before {
    content: $icon-codefresh-example; 
  }
}
.icon-codefresh-fail-2 {
  &:before {
    content: $icon-codefresh-fail-2; 
  }
}
.icon-codefresh-failed {
  &:before {
    content: $icon-codefresh-failed; 
  }
}
.icon-codefresh-github {
  &:before {
    content: $icon-codefresh-github; 
  }
}
.icon-codefresh-images {
  &:before {
    content: $icon-codefresh-images; 
  }
}
.icon-codefresh-images-2 {
  &:before {
    content: $icon-codefresh-images-2; 
  }
}
.icon-codefresh-launch-2 {
  &:before {
    content: $icon-codefresh-launch-2; 
  }
}
.icon-codefresh-lenght {
  &:before {
    content: $icon-codefresh-lenght; 
  }
}
.icon-codefresh-lock-close {
  &:before {
    content: $icon-codefresh-lock-close; 
  }
}
.icon-codefresh-lock-open {
  &:before {
    content: $icon-codefresh-lock-open; 
  }
}
.icon-codefresh-log {
  &:before {
    content: $icon-codefresh-log; 
  }
}
.icon-codefresh-logs-2 {
  &:before {
    content: $icon-codefresh-logs-2; 
  }
}
.icon-codefresh-ok {
  &:before {
    content: $icon-codefresh-ok; 
  }
}
.icon-codefresh-pause {
  &:before {
    content: $icon-codefresh-pause; 
  }
}
.icon-codefresh-pending {
  &:before {
    content: $icon-codefresh-pending; 
  }
}
.icon-codefresh-pipeline-2 {
  &:before {
    content: $icon-codefresh-pipeline-2; 
  }
}
.icon-codefresh-plus-2 {
  &:before {
    content: $icon-codefresh-plus-2; 
  }
}
.icon-codefresh-projects {
  &:before {
    content: $icon-codefresh-projects; 
  }
}
.icon-codefresh-promote {
  &:before {
    content: $icon-codefresh-promote; 
  }
}
.icon-codefresh-promote-2 {
  &:before {
    content: $icon-codefresh-promote-2; 
  }
}
.icon-codefresh-pull-request {
  &:before {
    content: $icon-codefresh-pull-request; 
  }
}
.icon-codefresh-queue {
  &:before {
    content: $icon-codefresh-queue; 
  }
}
.icon-codefresh-rebuild {
  &:before {
    content: $icon-codefresh-rebuild; 
  }
}
.icon-codefresh-refresh {
  &:before {
    content: $icon-codefresh-refresh; 
  }
}
.icon-codefresh-run-settings {
  &:before {
    content: $icon-codefresh-run-settings; 
  }
}
.icon-codefresh-running {
  &:before {
    content: $icon-codefresh-running; 
  }
}
.icon-codefresh-scan {
  &:before {
    content: $icon-codefresh-scan; 
  }
}
.icon-codefresh-search {
  &:before {
    content: $icon-codefresh-search; 
  }
}
.icon-codefresh-search-2 {
  &:before {
    content: $icon-codefresh-search-2; 
  }
}
.icon-codefresh-send-email {
  &:before {
    content: $icon-codefresh-send-email; 
  }
}
.icon-codefresh-service {
  &:before {
    content: $icon-codefresh-service; 
  }
}
.icon-codefresh-services-2 {
  &:before {
    content: $icon-codefresh-services-2; 
  }
}
.icon-codefresh-settings {
  &:before {
    content: $icon-codefresh-settings; 
  }
}
.icon-codefresh-stages {
  &:before {
    content: $icon-codefresh-stages; 
  }
}
.icon-codefresh-start {
  &:before {
    content: $icon-codefresh-start; 
  }
}
.icon-codefresh-success-2 {
  &:before {
    content: $icon-codefresh-success-2; 
  }
}
.icon-codefresh-table {
  &:before {
    content: $icon-codefresh-table; 
  }
}
.icon-codefresh-tag {
  &:before {
    content: $icon-codefresh-tag; 
  }
}
.icon-codefresh-terminate {
  &:before {
    content: $icon-codefresh-terminate; 
  }
}
.icon-codefresh-test-fail {
  &:before {
    content: $icon-codefresh-test-fail; 
  }
}
.icon-codefresh-test-ok {
  &:before {
    content: $icon-codefresh-test-ok; 
  }
}
.icon-codefresh-trash {
  &:before {
    content: $icon-codefresh-trash; 
  }
}
.icon-codefresh-upload-code {
  &:before {
    content: $icon-codefresh-upload-code; 
  }
}
.icon-codefresh-user {
  &:before {
    content: $icon-codefresh-user; 
  }
}
.icon-codefresh-workflow {
  &:before {
    content: $icon-codefresh-workflow; 
  }
}
.icon-codefresh-user-settings {
  &:before {
    content: $icon-codefresh-user-settings; 
  }
}
.icon-codefresh-account-settings {
  &:before {
    content: $icon-codefresh-account-settings; 
  }
}
.icon-codefresh-builds {
  &:before {
    content: $icon-codefresh-builds; 
  }
}
.icon-codefresh-docker {
  &:before {
    content: $icon-codefresh-docker; 
  }
}
.icon-codefresh-helm-charts {
  &:before {
    content: $icon-codefresh-helm-charts; 
  }
}
.icon-codefresh-helm {
  &:before {
    content: $icon-codefresh-helm; 
  }
}
.icon-codefresh-email {
  &:before {
    content: $icon-codefresh-email; 
  }
}
.icon-codefresh-minus {
  &:before {
    content: $icon-codefresh-minus; 
  }
}
.icon-codefresh-plus {
  &:before {
    content: $icon-codefresh-plus; 
  }
}
.icon-codefresh-kubernetes {
  &:before {
    content: $icon-codefresh-kubernetes; 
  }
}
.icon-codefresh-dokcer-logs {
  &:before {
    content: $icon-codefresh-dokcer-logs; 
  }
}

