@charset "UTF-8";

@font-face {
  font-family: "codefresh";
  src:url("fonts/codefresh.eot");
  src:url("fonts/codefresh.eot?#iefix") format("embedded-opentype"),
    url("fonts/codefresh.woff") format("woff"),
    url("fonts/codefresh.ttf") format("truetype"),
    url("fonts/codefresh.svg#codefresh") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "codefresh" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "codefresh" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-codefresh-add-layer:before {
  content: "a";
}
.icon-codefresh-code:before {
  content: "c";
}
.icon-codefresh-composition:before {
  content: "d";
}
.icon-codefresh-copy-docker-pull:before {
  content: "e";
}
.icon-codefresh-created:before {
  content: "f";
}
.icon-codefresh-date:before {
  content: "g";
}
.icon-codefresh-download:before {
  content: "h";
}
.icon-codefresh-environments:before {
  content: "i";
}
.icon-codefresh-example:before {
  content: "j";
}
.icon-codefresh-failed:before {
  content: "k";
}
.icon-codefresh-images:before {
  content: "l";
}
.icon-codefresh-lenght:before {
  content: "m";
}
.icon-codefresh-log:before {
  content: "n";
}
.icon-codefresh-stages:before {
  content: "o";
}
.icon-codefresh-settings:before {
  content: "p";
}
.icon-codefresh-service:before {
  content: "q";
}
.icon-codefresh-search:before {
  content: "r";
}
.icon-codefresh-running:before {
  content: "s";
}
.icon-codefresh-run-settings:before {
  content: "t";
}
.icon-codefresh-refresh:before {
  content: "u";
}
.icon-codefresh-queue:before {
  content: "v";
}
.icon-codefresh-pull-request:before {
  content: "w";
}
.icon-codefresh-promote:before {
  content: "x";
}
.icon-codefresh-projects:before {
  content: "y";
}
.icon-codefresh-pause:before {
  content: "z";
}
.icon-codefresh-ok-1:before {
  content: "b";
}
.icon-codefresh-start:before {
  content: "B";
}
.icon-codefresh-table:before {
  content: "C";
}
.icon-codefresh-terminate:before {
  content: "D";
}
.icon-codefresh-test-fail:before {
  content: "E";
}
.icon-codefresh-test-ok:before {
  content: "F";
}
.icon-codefresh-user:before {
  content: "G";
}
.icon-codefresh-workflow:before {
  content: "H";
}
