$icomoon-font-path: "fonts" !default;

$icon-codefresh-arrow_2: "\52";
$icon-codefresh-arrow_3: "\54";
$icon-codefresh-arrow_4: "\55";
$icon-codefresh-arrow_5: "\53";
$icon-codefresh-builds-2: "\57";
$icon-codefresh-chebron-r: "\e903";
$icon-codefresh-compositions-2: "\58";
$icon-codefresh-enviroments-2: "\59";
$icon-codefresh-images-2: "\5a";
$icon-codefresh-launch-2: "\e907";
$icon-codefresh-logs-2: "\e908";
$icon-codefresh-pending: "\e909";
$icon-codefresh-pipeline-2: "\e90a";
$icon-codefresh-plus-2: "\e90b";
$icon-codefresh-promote-2: "\e90c";
$icon-codefresh-rebuild: "\e90d";
$icon-codefresh-scan: "\e90e";
$icon-codefresh-search-2: "\e90f";
$icon-codefresh-services-2: "\e910";
$icon-codefresh-success-2: "\e911";
$icon-codefresh-fail-2: "\e912";
$icon-codefresh-tag: "\e913";
$icon-codefresh-account-managment: "\61";
$icon-codefresh-activity-log: "\62";
$icon-codefresh-add-layer: "\63";
$icon-codefresh-code: "\64";
$icon-codefresh-composition: "\65";
$icon-codefresh-computer: "\66";
$icon-codefresh-copy-docker-pull: "\67";
$icon-codefresh-created: "\68";
$icon-codefresh-date: "\69";
$icon-codefresh-docker-logo: "\6a";
$icon-codefresh-download: "\6b";
$icon-codefresh-edit-pencil: "\6c";
$icon-codefresh-environments: "\6d";
$icon-codefresh-example: "\6e";
$icon-codefresh-failed: "\6f";
$icon-codefresh-github: "\70";
$icon-codefresh-images: "\71";
$icon-codefresh-lenght: "\72";
$icon-codefresh-lock-close: "\73";
$icon-codefresh-lock-open: "\74";
$icon-codefresh-log: "\75";
$icon-codefresh-ok: "\76";
$icon-codefresh-pause: "\77";
$icon-codefresh-projects: "\78";
$icon-codefresh-promote: "\79";
$icon-codefresh-pull-request: "\7a";
$icon-codefresh-queue: "\41";
$icon-codefresh-refresh: "\42";
$icon-codefresh-run-settings: "\43";
$icon-codefresh-running: "\44";
$icon-codefresh-search: "\45";
$icon-codefresh-service: "\46";
$icon-codefresh-settings: "\47";
$icon-codefresh-stages: "\48";
$icon-codefresh-start: "\49";
$icon-codefresh-table: "\4a";
$icon-codefresh-terminate: "\4b";
$icon-codefresh-test-fail: "\4c";
$icon-codefresh-test-ok: "\4d";
$icon-codefresh-trash: "\4e";
$icon-codefresh-upload-code: "\4f";
$icon-codefresh-user: "\50";
$icon-codefresh-workflow: "\51";

