$icomoon-font-family: "codefresh" !default;
$icomoon-font-path: "fonts" !default;

$icon-codefresh-exclamation-shield: "\e9a1";
$icon-codefresh-shield-user: "\e9a0";
$icon-codefresh-helm3: "\e99e";
$icon-codefresh-helm2: "\e99f";
$icon-codefresh-rollback: "\e99d";
$icon-codefresh-light-trigger: "\e99c";
$icon-codefresh-light-circle-left-arrow: "\e997";
$icon-codefresh-light-bent-right-down-arrow: "\e998";
$icon-codefresh-light-calendar: "\e999";
$icon-codefresh-light-hourglass: "\e99a";
$icon-codefresh-light-timer: "\e99b";
$icon-codefresh-payload: "\e994";
$icon-codefresh-variable: "\e995";
$icon-codefresh-todo: "\e996";
$icon-codefresh-note: "\e993";
$icon-codefresh-upward-arrow: "\e992";
$icon-codefresh-trash-2: "\e991";
$icon-codefresh-filter: "\e990";
$icon-codefresh-full-logs: "\e98f";
$icon-codefresh-steps-tab: "\e98e";
$icon-codefresh-official-plugin: "\e98d";
$icon-codefresh-eye: "\e98c";
$icon-codefresh-christmas-star: "\e98b";
$icon-codefresh-contact-suuport: "\e98a";
$icon-codefresh-community: "\e989";
$icon-codefresh-server: "\e988";
$icon-codefresh-crown: "\e987";
$icon-codefresh-icons8-paragraph: "\e982";
$icon-codefresh-hash-comment: "\e983";
$icon-codefresh-expand: "\e984";
$icon-codefresh-download-yaml: "\e985";
$icon-codefresh-copy: "\e986";
$icon-codefresh-paragraph: "\e981";
$icon-codefresh-lock-decrypted: "\e980";
$icon-codefresh-star-favorite: "\e97f";
$icon-codefresh-external-link: "\e97e";
$icon-codefresh-sort-asc: "\e97b";
$icon-codefresh-sort-desc: "\e97c";
$icon-codefresh-sort-default: "\e97d";
$icon-codefresh-icon-custom-pipeline: "\e97a";
$icon-codefresh-icon-warning-filled: "\e979";
$icon-codefresh-build-timeline: "\e978";
$icon-codefresh-shared-square: "\e977";
$icon-codefresh-regular-trash: "\e976";
$icon-codefresh-file: "\e972";
$icon-codefresh-more-circles: "\e973";
$icon-codefresh-regular-pencil: "\e974";
$icon-codefresh-text: "\e975";
$icon-codefresh-regular-list: "\e971";
$icon-codefresh-actions-copy: "\e970";
$icon-codefresh-actions-template: "\e96f";
$icon-codefresh-actions-marketplace: "\e96e";
$icon-codefresh-menu-environments: "\e96d";
$icon-codefresh-boards: "\e96c";
$icon-codefresh-image-logs: "\e96b";
$icon-codefresh-build-metric: "\e96a";
$icon-codefresh-confirmation-warning: "\e969";
$icon-codefresh-behind-firewall: "\e968";
$icon-codefresh-thumb-down: "\e966";
$icon-codefresh-thumb-up: "\e967";
$icon-codefresh-build-debug: "\e95b";
$icon-codefresh-build-output: "\e95c";
$icon-codefresh-build-state: "\e964";
$icon-codefresh-build-yaml: "\e965";
$icon-codefresh-approved: "\e959";
$icon-codefresh-denied: "\e95a";
$icon-codefresh-pending-approval: "\e906";
$icon-codefresh-projects-tab: "\e963";
$icon-codefresh-leaves: "\e962";
$icon-codefresh-account-nodes-menu: "\e961";
$icon-codefresh-account-nodes: "\e960";
$icon-codefresh-account-runtime-environments: "\e95f";
$icon-codefresh-account-sso: "\e95e";
$icon-codefresh-account-arrow-left: "\e95d";
$icon-codefresh-account-teams-2: "\e956";
$icon-codefresh-account-invoices: "\e955";
$icon-codefresh-account-plans: "\e954";
$icon-codefresh-account-permissions: "\e953";
$icon-codefresh-account-teams: "\e952";
$icon-codefresh-account-registry: "\e951";
$icon-codefresh-account-notifications: "\e950";
$icon-codefresh-account-tokens: "\e94f";
$icon-codefresh-account-shared: "\e94e";
$icon-codefresh-account-referals: "\e94d";
$icon-codefresh-account-profile: "\e94c";
$icon-codefresh-profile-logout: "\e94b";
$icon-codefresh-profile-configuration: "\e94a";
$icon-codefresh-profile-accounts-settings: "\e949";
$icon-codefresh-accounts: "\e948";
$icon-codefresh-terminated: "\e947";
$icon-codefresh-skip: "\e946";
$icon-codefresh-vm-grid: "\e944";
$icon-codefresh-vm-list: "\e945";
$icon-codefresh-azure: "\e943";
$icon-codefresh-docker-swarm2: "\e942";
$icon-codefresh-billing: "\e940";
$icon-codefresh-integrations: "\e941";
$icon-codefresh-larr: "\e93d";
$icon-codefresh-rarr: "\e93e";
$icon-codefresh-user-settings2: "\e933";
$icon-codefresh-images-cube: "\e93a";
$icon-codefresh-k8s: "\e93b";
$icon-codefresh-pipelines: "\e93c";
$icon-codefresh-repositories: "\e93f";
$icon-codefresh-tutorials: "\e932";
$icon-codefresh-icon-status: "\e92d";
$icon-codefresh-docs: "\e92e";
$icon-codefresh-examples: "\e92f";
$icon-codefresh-star: "\e930";
$icon-codefresh-troubleshooting: "\e931";
$icon-codefresh-docker-swarm: "\e92c";
$icon-codefresh-lightning: "\e92b";
$icon-codefresh-hamburger: "\e925";
$icon-codefresh-ok-strong: "\e922";
$icon-codefresh-error: "\e923";
$icon-codefresh-hourglass: "\e924";
$icon-codefresh-single-image: "\e920";
$icon-codefresh-yml: "\e921";
$icon-codefresh-logo: "\e91f";
$icon-codefresh-docker-logo-white-path1: "\e914";
$icon-codefresh-docker-logo-white-path2: "\e915";
$icon-codefresh-docker-logo-white-path3: "\e916";
$icon-codefresh-docker-logo-white-path4: "\e917";
$icon-codefresh-docker-logo-white-path5: "\e918";
$icon-codefresh-docker-logo-white-path6: "\e919";
$icon-codefresh-docker-logo-white-path7: "\e91a";
$icon-codefresh-docker-logo-white-path8: "\e91b";
$icon-codefresh-docker-logo-white-path9: "\e91c";
$icon-codefresh-docker-logo-white-path10: "\e91d";
$icon-codefresh-docker-logo-white-path11: "\e91e";
$icon-codefresh-docker-logo-white-path12: "\e957";
$icon-codefresh-docker-logo-white-path13: "\e958";
$icon-codefresh-docker-logo-transparent: "\e905";
$icon-codefresh-un-trash: "\e904";
$icon-codefresh-icon-info: "\e901";
$icon-codefresh-icon-warning: "\e902";
$icon-codefresh-account-managment: "\61";
$icon-codefresh-activity-log: "\62";
$icon-codefresh-add-layer: "\63";
$icon-codefresh-arrow-right: "\52";
$icon-codefresh-arrow_5: "\53";
$icon-codefresh-builds-2: "\57";
$icon-codefresh-chebron-r: "\e903";
$icon-codefresh-code: "\64";
$icon-codefresh-composition: "\65";
$icon-codefresh-compositions-2: "\58";
$icon-codefresh-computer: "\66";
$icon-codefresh-copy-docker-pull: "\67";
$icon-codefresh-created: "\68";
$icon-codefresh-date: "\69";
$icon-codefresh-docker-logo: "\6a";
$icon-codefresh-download: "\6b";
$icon-codefresh-edit-pencil: "\6c";
$icon-codefresh-enviroments-2: "\59";
$icon-codefresh-environments: "\6d";
$icon-codefresh-example: "\6e";
$icon-codefresh-fail-2: "\e912";
$icon-codefresh-failed: "\6f";
$icon-codefresh-github: "\70";
$icon-codefresh-images: "\71";
$icon-codefresh-images-2: "\5a";
$icon-codefresh-launch-2: "\e907";
$icon-codefresh-lenght: "\72";
$icon-codefresh-lock-close: "\73";
$icon-codefresh-lock-open: "\74";
$icon-codefresh-log: "\75";
$icon-codefresh-logs-2: "\e908";
$icon-codefresh-ok: "\76";
$icon-codefresh-pause: "\77";
$icon-codefresh-pending: "\e909";
$icon-codefresh-pipeline-2: "\e90a";
$icon-codefresh-plus-2: "\e90b";
$icon-codefresh-projects: "\78";
$icon-codefresh-promote: "\79";
$icon-codefresh-promote-2: "\e90c";
$icon-codefresh-pull-request: "\7a";
$icon-codefresh-queue: "\41";
$icon-codefresh-rebuild: "\e90d";
$icon-codefresh-refresh: "\42";
$icon-codefresh-run-settings: "\43";
$icon-codefresh-running: "\44";
$icon-codefresh-scan: "\e90e";
$icon-codefresh-search: "\45";
$icon-codefresh-search-2: "\e90f";
$icon-codefresh-send-email: "\e900";
$icon-codefresh-service: "\46";
$icon-codefresh-services-2: "\e910";
$icon-codefresh-settings: "\47";
$icon-codefresh-stages: "\48";
$icon-codefresh-start: "\49";
$icon-codefresh-success-2: "\e911";
$icon-codefresh-table: "\4a";
$icon-codefresh-tag: "\e913";
$icon-codefresh-terminate: "\4b";
$icon-codefresh-test-fail: "\4c";
$icon-codefresh-test-ok: "\4d";
$icon-codefresh-trash: "\4e";
$icon-codefresh-upload-code: "\4f";
$icon-codefresh-user: "\50";
$icon-codefresh-workflow: "\51";
$icon-codefresh-user-settings: "\e934";
$icon-codefresh-account-settings: "\e935";
$icon-codefresh-builds: "\e936";
$icon-codefresh-docker: "\e937";
$icon-codefresh-helm-charts: "\e938";
$icon-codefresh-helm: "\e939";
$icon-codefresh-email: "\e928";
$icon-codefresh-minus: "\e929";
$icon-codefresh-plus: "\e92a";
$icon-codefresh-kubernetes: "\e926";
$icon-codefresh-dokcer-logs: "\e927";

