$icomoon-font-path: "fonts" !default;

$codefresh-arrow_2: "\52";
$codefresh-arrow_3: "\54";
$codefresh-arrow_4: "\55";
$codefresh-arrow_5: "\53";
$codefresh-builds-2: "\57";
$codefresh-chebron-r: "\e903";
$codefresh-compositions-2: "\58";
$codefresh-enviroments-2: "\59";
$codefresh-images-2: "\5a";
$codefresh-launch-2: "\e907";
$codefresh-logs-2: "\e908";
$codefresh-pending: "\e909";
$codefresh-pipeline-2: "\e90a";
$codefresh-plus-2: "\e90b";
$codefresh-promote-2: "\e90c";
$codefresh-rebuild: "\e90d";
$codefresh-scan: "\e90e";
$codefresh-search-2: "\e90f";
$codefresh-services-2: "\e910";
$codefresh-success-2: "\e911";
$codefresh-fail-2: "\e912";
$codefresh-tag: "\e913";
$codefresh-account-managment: "\61";
$codefresh-activity-log: "\62";
$codefresh-add-layer: "\63";
$codefresh-code: "\64";
$codefresh-composition: "\65";
$codefresh-computer: "\66";
$codefresh-copy-docker-pull: "\67";
$codefresh-created: "\68";
$codefresh-date: "\69";
$codefresh-docker-logo: "\6a";
$codefresh-download: "\6b";
$codefresh-edit-pencil: "\6c";
$codefresh-environments: "\6d";
$codefresh-example: "\6e";
$codefresh-failed: "\6f";
$codefresh-github: "\70";
$codefresh-images: "\71";
$codefresh-lenght: "\72";
$codefresh-lock-close: "\73";
$codefresh-lock-open: "\74";
$codefresh-log: "\75";
$codefresh-ok: "\76";
$codefresh-pause: "\77";
$codefresh-projects: "\78";
$codefresh-promote: "\79";
$codefresh-pull-request: "\7a";
$codefresh-queue: "\41";
$codefresh-refresh: "\42";
$codefresh-run-settings: "\43";
$codefresh-running: "\44";
$codefresh-search: "\45";
$codefresh-service: "\46";
$codefresh-settings: "\47";
$codefresh-stages: "\48";
$codefresh-start: "\49";
$codefresh-table: "\4a";
$codefresh-terminate: "\4b";
$codefresh-test-fail: "\4c";
$codefresh-test-ok: "\4d";
$codefresh-trash: "\4e";
$codefresh-upload-code: "\4f";
$codefresh-user: "\50";
$codefresh-workflow: "\51";

